In [31]:
import requests
import json
from datetime import datetime
import pandas as pd

In [7]:
# Datos
url = 'http://api.citybik.es/v2/networks/citi-bike-nyc'

In [10]:
resp = requests.get(url)
json_resp = resp.json()

In [25]:
stations = json_resp.get('network').get('stations')

In [33]:
bikes = [(station['name'], station['empty_slots'], station['free_bikes'], station['timestamp'])
 for station in stations]


pd.DataFrame(bikes, columns = ['station', 'empty_slots', 'free_bikes', 'timestamp'])

,station,empty_slots,free_bikes,timestamp
0,W 100 St & Manhattan Ave,23,10,2021-11-24T06:15:52.446000Z
1,7 Ave & Central Park South,0,0,2021-11-24T06:15:54.346000Z
2,Bedford Ave & Bergen St,11,13,2021-11-24T06:15:55.401000Z
3,28 St & 41 Ave,27,0,2021-11-24T06:15:54.774000Z
4,Vernon Blvd & 41 Rd,3,23,2021-11-24T06:15:54.775000Z
...,...,...,...,...
1553,University Pl & E 8 St,18,59,2021-11-24T06:15:52.863000Z
1554,Suffolk St & Stanton St,47,32,2021-11-24T06:15:51.950000Z
1555,8 Ave & W 38 St,17,30,2021-11-24T06:15:54.137000Z
1556,King St & Varick St,7,18,2021-11-24T06:15:52.541000Z
1557,9 Ave & W 45 St,7,23,2021-11-24T06:15:55.833000Z

In [28]:
stations[0]

{'empty_slots': 23,
 'free_bikes': 10,
 'id': '46a983722ee1f51813a6a3eb6534a6e4',
 'latitude': 40.795,
 'longitude': -73.9645,
 'name': 'W 100 St & Manhattan Ave',
 'timestamp': '2021-11-24T06:15:52.446000Z'}